/* CSS HEX */
--honeydew: #cfddcfff;
--lion: #a39171ff;
--dun: #dcc9b6ff;
--reseda-green: #727d71ff;
--coffee: #6d4c3dff;

/* CSS HSL */
--honeydew: hsla(120, 17%, 84%, 1);
--lion: hsla(38, 21%, 54%, 1);
--dun: hsla(30, 35%, 79%, 1);
--reseda-green: hsla(115, 5%, 47%, 1);
--coffee: hsla(19, 28%, 33%, 1);

/* SCSS HEX */
$honeydew: #cfddcfff;
$lion: #a39171ff;
$dun: #dcc9b6ff;
$reseda-green: #727d71ff;
$coffee: #6d4c3dff;

/* SCSS HSL */
$honeydew: hsla(120, 17%, 84%, 1);
$lion: hsla(38, 21%, 54%, 1);
$dun: hsla(30, 35%, 79%, 1);
$reseda-green: hsla(115, 5%, 47%, 1);
$coffee: hsla(19, 28%, 33%, 1);

/* SCSS RGB */
$honeydew: rgba(207, 221, 207, 1);
$lion: rgba(163, 145, 113, 1);
$dun: rgba(220, 201, 182, 1);
$reseda-green: rgba(114, 125, 113, 1);
$coffee: rgba(109, 76, 61, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #cfddcfff, #a39171ff, #dcc9b6ff, #727d71ff, #6d4c3dff);
$gradient-right: linear-gradient(90deg, #cfddcfff, #a39171ff, #dcc9b6ff, #727d71ff, #6d4c3dff);
$gradient-bottom: linear-gradient(180deg, #cfddcfff, #a39171ff, #dcc9b6ff, #727d71ff, #6d4c3dff);
$gradient-left: linear-gradient(270deg, #cfddcfff, #a39171ff, #dcc9b6ff, #727d71ff, #6d4c3dff);
$gradient-top-right: linear-gradient(45deg, #cfddcfff, #a39171ff, #dcc9b6ff, #727d71ff, #6d4c3dff);
$gradient-bottom-right: linear-gradient(135deg, #cfddcfff, #a39171ff, #dcc9b6ff, #727d71ff, #6d4c3dff);
$gradient-top-left: linear-gradient(225deg, #cfddcfff, #a39171ff, #dcc9b6ff, #727d71ff, #6d4c3dff);
$gradient-bottom-left: linear-gradient(315deg, #cfddcfff, #a39171ff, #dcc9b6ff, #727d71ff, #6d4c3dff);
$gradient-radial: radial-gradient(#cfddcfff, #a39171ff, #dcc9b6ff, #727d71ff, #6d4c3dff);