body {
  /* color: #F4E8C1; */
/*  background-color: white; */
  background-color: #F4E8C1;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.wrapper {
  width: fit-content;
  max-width: 640px;
  margin: 4rem auto;
  padding: 0 1rem;
}

h1, h2 {
  line-height: 2rem;
  color: #706993;
}

p, h3, h4, li {
  color: #0D1B2A;
}

a {
  color: #70A0AF;
}

hr {
  text-align: center;
  border: 0;
}
hr:before {
  content: "/////";
}
hr:after {
  content: attr(data-content) "/////";
}

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
}

ul {
  list-style-type: none;
  /* padding:0px; */
  /* margin:0px; */
}

.resize {
    width: 720px; /* you can use % */
    height: auto;
}

.nav-item {
  font-size: 2rem;
}